@model IEnumerable<string>
@{
    ViewBag.Title = "List images";
}

<br/>
<h1>Uploaded images</h1>
<hr />
<br/>

@foreach (var image in Model)
{
    <div class="row">
        <div class="col-sm-12">
            <img src="@Path.Combine("/Content/images/", Path.GetFileName(image))" class="img-responsive" style="max-width:600px; height: auto;" />
        </div>
    </div>
    <br/>
}
@if (Model.Any() == false)
{
    <div class="alert alert-warning">
        <h2>You have not uploaded any images yet! Click <a href="@Url.Action("Upload", "Home")">here</a> to upload an image.</h2>
    </div>
}
